/* ...........POUR BASE HTML TWIG */
/* .div2{
    margin-left: 350px;
}
.div1{
    margin-left: 20px;
} */
body{
    background-color: rgba(160, 160, 167, 0.507);
     margin: 0;
  padding: 0;
}
/************** header **********************/
header{
  height: 100px;
  background-color: rgba(1, 49, 1, 0.788);
  width: 100%;
  position: relative;
 
}
/* *************NAV********************** */
nav{
 display: flex;
 justify-content: space-between;
 margin: 0 15px;

}

/* **********autoEcole************ */
.autoEcole{
    margin-top: 13px;

}
.autoEcole a{
     /*  supprimer le soulignement des liens a dans autoEcole  */
    text-decoration: none;    

}

/* *************UL************************ */
ul{
 display: flex;
    /* supprimer les puces sur les li */
   list-style-type: none ; 
}
/* ************IL dans UL **********************/
ul li{
    margin-right: 10px;
    
}

/* ************A dans UL ************************/
ul li a{
     /*  supprimer le soulignement des liens a  */
 text-decoration: none;    
}
/* ************H3 dans HEADER ************************/
h3{
    /*  déplacer h3 par rapport header  */
    position: absolute;
    left: 550px;
    bottom: 7px;
}
/******************* FORMULAIRE **********************************/
/**** FORMULAIRE USER ************/

.userForm{
    width: 40%;
    height: 300px;
    background-color: rgba(160, 160, 167, 0.151);
    margin: auto;
    text-align: center;

}
.userForm h4{
    margin:10px 0 0 70px;
    padding: 20px;
}
/*labelUser1 div pour label  */
.labelUser1{
    margin-bottom: 20px;

}
.labelUser2{
    margin-bottom: 20px;
}
.labelUser3{
    margin-bottom: 20px;

}
/*text_field class pour les imput */
.text_field3{
    margin-left: 30px;
}
.labelUser4{
    margin-bottom: 20px;

}
.labelUser5{
    margin-bottom: 20px;
    margin-left: 34px;

}
.text_field4{
    margin-left: 30px;
}

.btnUser{

  position: relative;
}
.btnUser button{
  position: absolute;
  right: 10px;
  background-color: rgba(160, 160, 167, 0.507);
  border-radius: 5px 5px 5px 5px;
   border: 1px solid transparent;
}

/* autres label et imput meme formulaire */

.text_field{
    margin-left: 10px;
}
/* ****************************LIST USER*******************************/
.userGeneral h2{
    text-align: center;
    font-style: italic;
    font-weight: bold; /* Met le texte en gras */
    text-decoration: underline; /* Souligne le texte */
}
.usertable{
  width: 60%;
    height: 300px;
    background-color: rgba(160, 160, 167, 0);
    margin: auto;
    text-align: center;  
 
}
th,td,tr,table{
    border: solid rgba(14, 5, 5, 0.76) 1px;
    border-collapse: collapse;
} 
th{
    background-color: rgba(75, 75, 83, 0.151);
}
/**** FORMULAIREPERMIS ************/
.permisForm{
    width: 40%;
    height: 300px;
    background-color: rgba(160, 160, 167, 0.151);
    margin: auto;
    text-align: center;

}
 .divPermis{
     margin-bottom: 20px;
 }
.permisForm h4{
    margin:10px 0;
    padding: 20px;
}
.labelPermis1{
    margin-left: 40px;
}

.text_labelPermis1{
    margin-right: 40px;
}

.labelPermis2{
    margin-left: 20px;
}

 .text_labelPermis2{
    margin-left: 20px;
} 

.text_fieldPermis2{
 margin-left: 20px;
}

.text_labelPermis3{
    margin-left: 30px;
}
.text_fieldPermis3{
    margin-bottom: -10px;
}
.text_labelPermis4{
    margin-left: 90px;
}
.btnPermis{
     position: relative;
}

.btnPermis button{
  position: absolute;
  right: 10px;
  background-color: rgba(160, 160, 167, 0.507);
  border-radius: 5px 5px 5px 5px;
   border: 1px solid transparent;
}
/* ***************permisList********************** */
.generalPermis h4{
    width: 50%;
    margin: auto;
    margin-right: 80px;
   padding: 7px;
    font-style: italic;
    font-weight: bold; /* Met le texte en gras */
    text-decoration: underline;


}
#h4 {
    text-decoration: underline;
}
.listPermis{
    /* 60% d'ecrant */
    width: 60%;
    margin: auto;
    display: flex;
}

/* ***************HOME********************** */
.generalHome h4{
    width: 50%;
    margin: auto;
    margin-right: 80px;
   padding: 7px;
    font-style: italic;
    font-weight: bold; /* Met le texte en gras */

}

#h4 {
    text-decoration: underline;
}
.listHome{
    /* 60% d'ecrant */
    width: 60%;
    margin: auto;
    display: flex;
}
.imgcard{
  
    width: 55%;
    height: 180px;
}
.imgtext{
    width: 45%;
    background-color: rgba(160, 160, 167, 0.151);
    margin-bottom: 3px;
    text-align: center;
    padding: 0 10px;
}
.cardtext.hover-effect:hover span {
    color: green;
    font-family: 'Nouvelle police', sans-serif;
}
.cardtext{
      margin: 10px 0 0 0;

}

.imgcard img {
    width:100%;
    height: 100%; 
}
#homeLien{
    margin-left: 250px;
    text-decoration: none;
    padding: 1px;
  background-color: rgba(160, 160, 167, 0.507);
  border-radius:7% 7% 7% 7%;
}

/* *************formulaire login ****************************/
.alert {
    /* pour message d'erreur */
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.loginForm{
    width: 30%;
    height: 200px;
    background-color: rgba(160, 160, 167, 0.151);
    margin: auto;
    text-align: center;

}
.loginForm h4{
    margin:10px 0;
    padding: 20px;

}

.loginF1{
    margin-bottom: 20px;

}
.loginF2{
    margin-bottom: 20px;
}
.loginF3{
    margin-bottom: 20px;

}

.loginForm h4{
    margin:8px 0 0 40px;
    padding: 20px;
}
.loginFormH2{
    width: 50%;
    margin: auto;
    margin-right: 120px;
   padding: 7px;
}